name = "cdown-get-latest"
main = "src/index.js"
compatibility_date = "2023-10-16"

account_id = "98f57fdd7c87697f0d946a56cb6c4299"

# Disable the .dev html route as not needed for cron jobs
workers_dev = false

r2_buckets  = [
  { binding = "CDOWN_BUCKET", bucket_name = "cdown-raw-files"}
]

kv_namespaces = [
  { binding = "CDOWN_KV", id = "4a4f0d181efb4c6688e3e6ead66720b0" }
]

send_email = [
    {type = "send_email", name = "CDOWN_EMAIL", destination_address = "logs@rw251.com"},
]

# Cron Triggers
[triggers]
# Every hour Monday to Friday at minute 1 - regular episode fetch
# Every 15 minutes - audit historic episodes
crons = ["1 * * * 2-6", "*/15 * * * *"]